@font-face {
  font-family: "NunitoLight";
  src: local("NunitoLight"),
    url("./NunitoSans_7pt_Condensed-Light.ttf") format("truetype");
}

@font-face {
  font-family: "NunitoSemi";
  src: local("NunitoSemi"),
    url("./NunitoSans_7pt_Condensed-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "NunitoExtra";
  src: local("NunitoExtra"),
    url("./NunitoSans_7pt_Condensed-ExtraBold.ttf") format("truetype");
}
