.header {
  font-family: NunitoSemi;

  display: flex;
  justify-content: space-between;
  background-color: #2b3743;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 4rem;
  box-sizing: border-box;

  color: var(--text-color);

  .logo {
    font-family: NunitoExtra;
  }

  .theme-switcher__holder {
    display: flex;
    align-items: center;
  }

  .theme-switcher__icon {
    transform: rotate(-28deg);
    margin-right: 10px;
  }

  .theme-light & {
    background-color: #fff;
  }

  @media (max-width: 767px) {
    padding: 2rem 1rem;
  }
}
