.header {
  display: flex;
  justify-content: space-between;
  background-color: #2b3743;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 4rem;
  box-sizing: border-box;

  color: var(--text-color);

  .theme-light & {
    background-color: #fff;
  }
}
