.header {
  font-family: NunitoSemi;

  display: flex;
  z-index: 9;
  justify-content: space-between;
  background-color: #2b3743;

  position: sticky;
  top: 0;
  padding: 2rem var(--page-wide-padding);
  box-sizing: border-box;

  color: var(--text-color);

  will-change: color, background-color;
  transition: all 200ms ease-in-out;

  .logo {
    font-family: NunitoExtra;
    cursor: pointer;
  }

  .theme-switcher__holder {
    display: flex;
    align-items: center;
  }

  .theme-switcher__icon {
    transform: rotate(-28deg);
    margin-right: 10px;
  }

  .theme-light & {
    background-color: #fff;
  }

  @media (max-width: 767px) {
    padding: 2rem 1rem;
    max-width: 100vw;

    .theme-switcher__holder {
      font-size: 0.8rem;
    }
  }
}
