.results-actions {
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.countries-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 4rem;
}

@media (max-width: 767px) {
  .countries-list {
    grid-template-columns: 1fr;
  }
}
